# persiapan data Frame

In [3]:
import pandas as pd
import numpy as np
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10, size= (n_rows, n_cols)),
                 columns = cols)
df

   A  B  C  D  E
0  1  5  5  8  5
1  7  5  4  7  6
2  5  5  4  5  6
3  5  9  6  7  7
4  9  7  2  3  5

In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series ([1,2,4,5,np.nan,7, 8])

In [3]:
s

0    1.0
1    2.0
2    4.0
3    5.0
4    NaN
5    7.0
6    8.0
dtype: float64

In [10]:
dates = pd.date_range('20200101', periods = 6)

In [11]:
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
data = pd.Series(['RASDI','ABDUL','ROHMAN','RASDI','ABDUL','ROHMAN'])

In [15]:
df = pd.DataFrame(np.random.randn(6,4), index=data, columns = list('ABCD'))

In [16]:
df

               A         B         C         D
RASDI  -0.829626  0.507365 -0.906702  0.382055
ABDUL   1.578990 -0.469394  0.815900  1.045325
ROHMAN -0.560139 -0.535152 -0.320528 -0.028017
RASDI   0.474203 -0.908090 -0.586328 -0.742634
ABDUL   1.439315 -0.155570 -1.972674 -0.072173
ROHMAN -0.518454 -0.222414 -1.173684  0.516627

In [17]:
number = [1,2,3,4,5]
type(number)

list

In [41]:
#list adalah salah satu jenis array pada python  dengan menggunakan bracket [kurung siku], 

campuran = ["rasdi",4,5,4.4,True,"hello"]

In [43]:
type(campuran[4])

bool