# persiapan data Frame

In [3]:
import pandas as pd
import numpy as np
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1,10, size= (n_rows, n_cols)),
                 columns = cols)
df

   A  B  C  D  E
0  1  5  5  8  5
1  7  5  4  7  6
2  5  5  4  5  6
3  5  9  6  7  7
4  9  7  2  3  5